@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #b8784d;
  --color-secondary: #5f3e34;
  --color-tertiaty: #f7f1e2;
}

a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-gray-800;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
